<ion-content>
  <div class="wrapper">
    <header class="header text_center">
      <div class="container">
        <div class="row">
          <span class="col-20"><a (click)="this.navCtrl.pop();this.navCtrl.pop();" class="float_left"><img
            src="./assets/images/icons/back.svg"></a></span>
          <span class="text_center col-60"><h4>MANAGE MY LISTING</h4></span>
          <span class="col-20"><a (click)="openmenu()" class="float_right"><img
            src="./assets/images/icons/listing-option.svg"></a></span>
        </div>
      </div>
    </header>
    <div class="container">
      <section class="centered text_center">
        <div class="margin_top_40">
          <ul class="tabs">
            <li class="col3" [class.active]="active">
              <a (click)="open('active')">ACTIVE</a>
            </li>
            <li class="col3" [class.active]="inactive">
              <a (click)="open('inactive')">INACTIVE</a>
            </li>
            <li class="col3" [class.active]="incomplete">
              <a (click)="open('incomplete')">INCOMPLETE</a>
            </li>
          </ul>

          <div class="margin_bottom_40 margin_top_30" *ngIf="active">
            <p *ngIf="noactivelisting">There Are No Listings</p>
            <div class="property_box text_center"  *ngFor="let p of activedata">
              <div (click)="openprop(p)">
                <img
                  [src]="p.images != undefined ? 'https://ovza.com/oriented/userdata/List/'+p.userid+'/'+p.images[0].lid+'/'+p.images[0].list_image : './assets/images/splashscreen.png'"
                  title="Ovza">
                <h5>House Property for {{p.rental_form != null ? 'rent' : 'sale' }}</h5>
                <h5>{{p.listaddress2}}</h5>
                <h5>$ {{p.rental_form != 0  ? p.rental_money : p.list_price}} / {{p.homesize == undefined || p.homesize
                  == '' ? p.lotsize : p.homesize}} {{p.lotsizetype==1 ? 'Sq.ft' : "Acre"}}</h5>
              </div>

              <div class="actions padding_left_right_20">
                <button class="btn btn_block btn_login" (click)="openpopactive(p)">MANAGE MY LISTINGS</button>
                <button class="btn btn_block btn_login" (click)="upgrade(p)" *ngIf="p.featured_status==0">UPGRADE TO
                  FEATURED
                </button>
                <button class="btn btn_block btn_login" (click)="removefeatured(p);" *ngIf="p.featured_status==1">REMOVE
                  FROM FEATURED
                </button>

              </div>
            </div>
          </div>
          <div class="margin_bottom_40 margin_top_30" *ngIf="inactive">
            <p *ngIf="noinactivelisting">There Are No Listings</p>
            <div class="property_box text_center"  *ngFor="let p of inactivedata">
             <div (click)="openprop(p)">
               <img
                 [src]="p.images != undefined ? 'https://ovza.com/oriented/userdata/List/'+p.userid+'/'+p.images[0].lid+'/'+p.images[0].list_image : './assets/images/splashscreen.png'"
                 title="Ovza">
               <h5>House Property for {{p.rental_form != null ? 'rent' : 'sale' }}</h5>
               <h5>{{p.listaddress2}}</h5>
               <h5>$ {{p.rental_form != null ? p.rental_money : p.list_price}} / {{p.homesize == undefined || p.homesize
                 == '' ? p.lotsize : p.homesize}} {{p.lotsizetype==1 ? 'Sq.ft' : "Acre"}}</h5>
             </div>

              <div class="actions padding_left_right_20">
                <button class="btn btn_block btn_login" (click)="openpopinactive(p)">MANAGE MY LISTINGS</button>
              </div>
            </div>

          </div>
          <div class="margin_bottom_40 margin_top_30" *ngIf="incomplete">
            <p *ngIf="noincompletelisting">There Are No Listings</p>
            <div class="property_box text_center" *ngFor="let p of incompletedata">
             <div (click)="openprop(p)" >
               <img
                 [src]="p.images != undefined ? 'https://ovza.com/oriented/userdata/List/'+p.userid+'/'+p.images[0].lid+'/'+p.images[0].list_image : './assets/images/splashscreen.png'"
                 title="Ovza">
               <h5>House Property for {{p.rental_form != null ? 'rent' : 'sale' }}</h5>
               <h5>{{p.listaddress2}}</h5>
               <h5>$ {{p.rental_form != null ? p.rental_money : p.list_price}} / {{p.homesize == undefined || p.homesize
                 == '' ? p.lotsize : p.homesize}} {{p.lotsizetype==1 ? 'Sq.ft' : "Acre"}}</h5>
             </div>

              <div class="actions padding_left_right_20">
                <button class="btn btn_block btn_login" (click)="opencompletepop(p)">MANAGE MY LISTINGS</button>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
    <nav class="nav_tabs">
      <ul class="left_side">
        <li><a (click)="opennav('home')"><img src="./assets/images/icons/home.svg"></a></li>
        <li><a (click)="opennav('add')">
          <img
            [src]="type=='agent' ? './assets/images/icons/plus-button.svg' : './assets/images/icons/icons8-heart.png' "></a>
        </li> </ul>

      <ul class="center_side">
        <li><a href="javascript:void(0)"><img src="./assets/images/icons/question.svg"></a></li>
      </ul>
      <ul class="right_side">
        <li><a (click)="opennav('chat')"><img src="./assets/images/icons/interface.svg"></a></li>
        <li><a (click)="opennav('profile')"><img src="./assets/images/icons/avatar.svg"></a></li>
      </ul>
    </nav>
  </div>
</ion-content>
