page-listnwpay {
    .text-input-md {
        margin: unset;
    }

    nav.nav_tabs ul.center_side li {
        margin-top:  -30px;
    }
    .payButton {
        padding:18px;
        color:green ;
        border-radius: 50%;
        border:1px solid gray;
        font-weight: 600;
        background: white;
    }
}
