/*==============================
  Start Global
==============================*/
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway.eot');
  src: url('../fonts/Raleway.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Raleway.woff') format('woff'),
  url('../fonts/Raleway.ttf') format('truetype'),
  url('../fonts/Raleway.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  -webkit-font-smoothing: antialiased;
  /*-moz-osx-font-smoothing: grayscale;*/
  -webkit-font-family: 'Raleway', sans-serif;
  -moz-font-family: 'Raleway', sans-serif;
  -ms-font-family: 'Raleway', sans-serif;
  -o-font-family: 'Raleway', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  background-color: #ececec;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a, button {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

a, a:hover, a:focus {
  text-decoration: none;
}

a, a:hover, a:focus, a:active, button, .input {
  outline: 0;
  outline: none;
}

p {
  color: #777;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*==============================
  End Global
==============================*/

/*==============================
  Start FrameWork
==============================*/
body {

}

main {
  background-color: #ECECEC;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 100%;

  min-height: 100vh;
  background-color: #FFF;
  /*background-image: url(../images/water_mark.png);*/
  background-position: center;
  background-repeat: repeat-y;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -ms-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  padding-top: 56px;
}

.wrapper .ovrly {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  content: '';
  background-color: rgba(143, 143, 143, 0.2);
  background-repeat: repeat-y;
}

.container {
  width: 96%;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.row {
  overflow: hidden;
  width: 100%;
}

.white_bg {
  background-color: #FFF !important;
}

.gray_bg {
  background-color: #F6F6F6;
}

p {
  font-family: 'Raleway', sans-serif;
  line-height: 1.4;
  color: #333;
}

img {
  max-width: 100% !important;
}

.bg_white {
  background-color: #FFF !important;
}

.width_150 {
  width: 100px !important;
}

.padding_top_15per {
  padding-top: 15%;
}

.padding_top_20per {
  padding-top: 20%;
}

.padding_top_25per {
  padding-top: 25%;
}

.padding_top_10 {
  padding-top: 10px;
}

.padding_top_20 {
  padding-top: 20px;
}

.padding_top_30 {
  padding-top: 30px;
}

.padding_top_40 {
  padding-top: 40px;
}

.padding_top_50 {
  padding-top: 50px;
}

.padding_bottom_100 {
  padding-bottom: 100px;
}

.padding_bottom_60 {
  padding-bottom: 60px;
}

.padding_bottom_40 {
  padding-bottom: 40px;
}

.padding_top_bottom_10 {
  padding-bottom: 10px;
  padding-top: 10px;
}

.padding_top_bottom_20 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.padding_top_bottom_30 {
  padding-bottom: 30px;
  padding-top: 30px;
}

.padding_top_bottom_40 {
  padding-bottom: 40px;
  padding-top: 40px;
}

.padding_left_right_20 {
  padding-left: 20px;
  padding-right: 20px;
}

.margin_top_bottom_40 {
  margin-bottom: 40px;
  margin-top: 40px;
}

.margin_top_bottom_30 {
  margin-bottom: 30px;
  margin-top: 30px;
}

.margin_top_bottom_20 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.margin_bottom_60 {
  margin-bottom: 60px;
}

.margin_bottom_50 {
  margin-bottom: 50px;
}

.margin_bottom_40 {
  margin-bottom: 40px;
}

.margin_bottom_30 {
  margin-bottom: 30px;
}

.margin_bottom_20 {
  margin-bottom: 20px;
}

.margin_bottom_10 {
  margin-bottom: 10px;
}

.margin_top_5 {
  margin-top: 5px;
}

.margin_top_10 {
  margin-top: 10px;
}

.margin_top_20 {
  margin-top: 20px;
}

.margin_top_30 {
  margin-top: 30px;
}

.margin_top_40 {
  margin-top: 40px;
}

.margin_top_50 {
  margin-top: 50px;
}

.margin_top_60 {
  margin-top: 60px;
}

.margin_top_70 {
  margin-top: 70px;
}

.margin_left_15 {
  margin-left: 15px;
}

.margin_auto {
  margin-right: auto;
  margin-left: auto;
}

.no_border {
  border: none !important;
}

.no_bg {
  background-color: transparent !important;
}

.text_center {
  text-align: center !important;
}

.xs_font {
  font-size: 10px;
  color: #777;
}

.float_right {
  float: right;
  text-align: right;
  overflow: hidden;
}

.float_left {
  float: left;
  text-align: left;
  overflow: hidden;
}

.width50 {
  width: 50px;
}

.max_width_400 {
  max-width: 400px;
  width: 100%;
}

.max_width_200 {
  max-width: 200px;
  width: 100%;
}

section {
  position: relative;
}

.height_100 {
  height: 100px !important;
}

.fixed_btn {
  position: fixed;
  bottom: 15%;
  right: 5%;
}

.fixed_btn a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 26px;
  border-radius: 50%;
  color: #FFF;
  background-color: #5aba53;
  box-shadow: 0 0 10px rgb(173, 173, 173);
}

@media (min-width: 768px) {
  .fixed_btn {
    position: absolute !important;
    bottom: 15%;
    right: 5%;
  }
}

.form_title {
  margin-bottom: 20px;
  color: #333;
  font-size: 14px;
  letter-spacing: 1px;
}

.input_title {
  color: #333;
  margin-bottom: 8px;
  font-size: 13px;
}

form {
  width: 70%;
  margin: auto;
}

form fieldset {
  margin-bottom: 20px;
  position: relative;
}

form fieldset label {
  font-size: 18px;
  color: #5aba53;
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  text-shadow: none;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

form .input {
  line-height: 34px;
  padding: 0 10px;
  color: #5aba53;
  width: 100%;
  text-align: left !important;
  height: 34px;
  border-radius: 17px;
  border: 1px solid #5aba53;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
}

form .input:focus {
  border-radius: 17px;
  box-shadow: 0 0 7px rgba(90, 186, 83, 0.68);;
  outline: none;
}

form .input::-moz-placeholder {
  font-family: 'Raleway', sans-serif;
  color: #5aba53;
}

form .input:-ms-input-placeholder {
  font-family: 'Raleway', sans-serif;
  color: #5aba53
}

form .input::-webkit-input-placeholder {
  font-family: 'Raleway', sans-serif;
  color: #5aba53
}

form .textarea {
  height: 70px !important;
}

form .select_box {
  padding-right: 20px
}

form .input.has_icon {
  padding: 0 10px 0 40px;
}

.radio_input {
  position: relative;
  padding: 10px 0 10px 25px;
  text-align: left;
}

.radio_input label {
  cursor: pointer;
  color: #5aba53;
}

.radio_input label:before, .radio_input label:after {
  content: '';
  position: absolute;
  top: 50%;
  border-radius: 50%;
}

.radio_input label:before {
  left: 0;
  width: 16px;
  height: 16px;
  margin: -8px 0 0;
  background: #FFF;
  border: 1px solid #5aba53;
}

.radio_input label:after {
  left: 3px;
  width: 10px;
  height: 10px;
  margin: -5px 0 0;
  opacity: 0;
  background: #5aba53;
  -webkit-transform: translate3d(-40px, 0, 0) scale(0.5);
  transform: translate3d(-40px, 0, 0) scale(0.5);
  -webkit-transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.radio_input input[type="radio"],
.radio_input input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: -9999px;
  visibility: hidden;
}

.radio_input input[type="radio"]:checked + label:after,
.radio_input input[type="checkbox"]:checked + label:after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.styled-input--rounded label:before {
  border-radius: 10px;
}

.styled-input--rounded label:after {
  border-radius: 6px;
}

.width_70per {
  width: 70%;
}

.btn {
  cursor: pointer;
  margin-bottom: 20px;
  border: none;
  border-radius: 15px;
  line-height: 30px;
  color: #FFF;
  min-width: 100px;
}

.btn_block {
  display: block;
  width: 100%;
}

.btn_login {
  background-color: #5aba53;

}

.btn_login img {
  width: 18px;
}

.btn_facebook {
  background-color: #4c66a4;
}

.btn_facebook img {
  width: 18px;
}

.btn_googleplus {
  background-color: #dc4b38;
}

.btn_googleplus img {
  width: 18px;
}

.actions {
  margin: 20px auto;
}

.alert_msg {
  color: #5aba53;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 1px;
}

.tabs {
  margin: 20px;
  text-align: center !important;
  height: 34px;
  border-radius: 17px;
  border: 1px solid #5aba53;
}

.tabs li.col3 {
  width: 33.3333%
}

.tabs li.col3:nth-child(2) {
  border-left: 1px solid #5aba53;
  border-right: 1px solid #5aba53;
}

.tabs li {
  float: left;
  width: 50%;
  background-color: #FFF;
}

.tabs li a {
  /*max-height: 29px;*/
  display: block;
  color: #5aba53;
  line-height: 32px;
  text-transform: uppercase;
}

.tabs li.active a {
  background-color: #5aba53;
  color: #FFF;
}

.tabs li:first-child {
  border-radius: 17px 0 0 17px;
}

.tabs li:last-child {
  border-radius: 0 17px 17px 0;
}

.tabs li.active:first-child a {
  border-radius: 17px 0 0 17px;
}

.tabs li.active:last-child a {
  border-radius: 0 17px 17px 0;
}

header.header {
  padding: 15px 0;
  box-shadow: 0 0 5px rgba(90, 90, 90, 0.35);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: #FFF;

  margin: auto;
  z-index: 99199;
  height: 56px;
}

header.header h4 {
  padding: 5px;
  margin: 0;
  color: #5aba53;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
}

header.header .col-33 {
  width: 33.33333%;
  float: left;
}

header.header .col-20 {
  width: 20%;
  float: left;
}

header.header .col-30 {
  width: 30%;
  float: left;
}

header.header .col-40 {
  width: 40%;
  float: left;
}

header.header .col-50 {
  width: 50%;
  float: left;
}

header.header .col-60 {
  width: 60%;
  float: left;
}

header.header .col-70 {
  width: 70%;
  float: left;
}

header.header .col-80 {
  width: 80%;
  float: left;
}

header.header .col-90 {
  width: 90%;
  float: left;
}

header.header .col-25 {
  width: 25%;
  float: left;
}

header.header a {
  color: #5aba53;
}

header.header a i {
  font-size: 25px;
}

header.header .paypal {
  padding: 5px;
  font-size: 10px;
  color: #FFF;
  background-color: #5aba53
}

/*-- Start Nav tabs Footer --*/
nav.nav_tabs {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  margin: auto;
  box-shadow: 0 0 5px rgba(90, 90, 90, 0.35);
  background-color: #FFF;
  z-index: 99999;
}

nav.nav_tabs ul {

}

nav.nav_tabs ul.left_side {
  float: left;
  width: 40%;
  padding-right: 10%;
}

nav.nav_tabs ul.left_side li {
  float: left;
  width: 50%;
}

nav.nav_tabs ul.center_side {
  width: 20%;
  float: left;
  text-align: center;
  position: relative;
}

nav.nav_tabs ul.center_side li {
  padding: 0;
  margin-top: -20px;
}

nav.nav_tabs ul.center_side li a {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #FFF;
  box-shadow: 0 0 5px rgba(90, 90, 90, 0.35);
  border-radius: 50%;
}

nav.nav_tabs ul.center_side li a img {
  padding: 10px;
  width: 48px;
}

nav.nav_tabs ul.right_side {
  float: right;
  width: 40%;
  padding-left: 10%;
}

nav.nav_tabs ul.right_side li {
  float: left;
  width: 50%;
}

nav.nav_tabs ul li {
  padding: 15px;
  text-align: center;
}

nav.nav_tabs ul li a {
  color: #5aba53;
  font-size: 24px;
}

/*-- //End Nav tabs Footer --*/

/*-- Start PopUp Overlay --*/
.overlay {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99999;
}

.wrapper_overlay {
  width: 100%;
  height: 100vh;
  display: flex;
}

.center_box {
  margin: auto;
}

.sm_box {
  width: 300px;
  height: auto;
  background-color: #FFF;
  box-shadow: 0 0 10px #d9d9d9;
  padding: 20px;
}

.xs_box {
  width: 220px;
  height: auto;
  background-color: #FFF;

  padding: 20px;
}

.md_box {
  width: 100%;

  height: auto;
  background-color: #FFF;

}

.main_color {
  color: #5aba53 !important;
}

/*-- //End PopUp Overlay --*/
@media (max-width: 480px) {
  p {
    font-size: 13px;
  }

  form {
    width: 90%;
  }

  .tabs {
    margin: 0px;
    height: 30px;
    border-radius: 15px;
  }

  .tabs li a {
    line-height: 28px;
    font-size: 12px;
  }

  .tabs li.active a {
    /*border-radius: 15px 0 0 15px;*/
  }

  form .input {
    line-height: 30px;
    height: 30px;
    border-radius: 15px;
    font-size: 12px;
  }

  .btn {
    height: 28px;
    line-height: 28px;
    border-radius: 14px;
    margin-bottom: 15px;
  }

  form fieldset {
    margin-bottom: 15px;
  }

  form fieldset label {
    top: 57%;
    font-size: 14px;
  }

  nav.nav_tabs ul.left_side {
    padding-right: 5%;
  }

  nav.nav_tabs ul.right_side {
    padding-left: 5%;
  }

  nav.nav_tabs ul.center_side li {
    margin-top: -15px;
  }

  nav.nav_tabs ul.center_side li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  nav.nav_tabs ul li {
    padding: 10px 15px;
  }

  .form_title {
    font-size: 12px;
  }

  .feature_list h3 {
    margin: 0 7px 10px !important;
    font-size: 13px;
    padding: 5px !important;
  }

  .feature_list .col_2 {
    padding-right: 7px !important;
    padding-left: 7px !important;
  }

  .item_img .logo_signature {
    top: 3px !important;
    left: 3px !important;
    width: 30px !important;
  }

  .item_img .images_qnt {
    padding: 3px !important;
    right: 3px !important;
    bottom: 5px !important;
    font-size: 9px !important;
  }

  .feature_list .info {
    padding: 5px !important;
  }

  .feature_list .info p span {
    font-size: 10px !important;
  }

  header.header h4 {
    font-size: 12px;
    letter-spacing: 0;
  }
}

/*==============================
  End FrameWork
==============================*/

/*==============================
  Start Splash Screen
==============================*/
.splash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background-color: #F0F0F0;
}

.splash img {
  margin: auto;
}

.rounded_logo {
  margin: auto;
  width: 250px;
  height: 250px;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(99, 99, 99, 0.4);
  background-color: #FFF;
  text-align: center;
}

.rounded_logo img {
  width: 200px;
}

/*==============================
  End Splash Screen
==============================*/

/*==============================
  Start LogIn Form
==============================*/
.login_form {
  margin-top: 50px;
}

.login_form h3 {
  margin-bottom: 20px
}

.login_form .forget_pass {
  text-align: right;
  margin-right: 10px;
}

.login_form .forget_pass a {
  color: #5aba53;
}

@media (max-width: 480px) {
  .login_form .forget_pass {
    font-size: 12px;
  }
}

/*==============================
  End LogIn Form
==============================*/

/*==============================
  Start Sign Up
==============================*/
.signup_form {
  margin-top: 20px;
}

.signup_form h4 {
  color: #5aba53;
  margin-bottom: 8px;
}

.signup_form span {
  display: block;
  color: #333;
  margin-bottom: 15px;
}

.account_type .radio_input {
  margin-left: 40%;
}

.account_type h4 {
  color: #5aba53;
  margin-bottom: 15px;
}

@media (max-width: 480px) {
  .account_type .radio_input {
    margin-left: 30%;
  }

  .radio_input {
    padding: 5px 0 5px 25px;
  }
}

/*==============================
  End Sign Up
==============================*/

/*==============================
  Start Edit Profile
==============================*/
.edit_profile {

}

.edit_profile .user_img {
  margin-bottom: 30px;
}

.edit_profile .user_img img {
  padding: 5px;
  background-color: #FFF;
  border: 2px solid #5aba53;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}

.edit_profile .user_img h4 {
  color: #5aba53;
  font-weight: 600;
  font-size: 85%;
}

.edit_profile_2 .user_img img {
  padding: 0px !important;
  background-color: transparent !important;
  border: none !important;
}

/*==============================
  End Edit Profile
==============================*/

/*==============================
  Start Calc
==============================*/
.calc .monthly_pay {
  background-color: #f1f1f1;
  border: 3px solid rgba(176, 176, 176, 0.45);
  border-radius: 4px;
  position: relative;
}

.calc .monthly_pay i {
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: auto;
  color: #FFF;
  background-color: #5aba53;
  border-radius: 50%;
}

.calc .monthly_pay article {
  padding: 30px 15% 15px;
}

.calc .monthly_pay article h4 {
  color: #333;
  font-size: 14px;
  margin-bottom: 7px;
  letter-spacing: 1px;
}

.calc .monthly_pay article h5 {
  color: #5aba53;
  margin-bottom: 7px;
}

.calc .monthly_pay article p {

}

/*==============================
  End Calc
==============================*/

/*==============================
  Start Captch
==============================*/
.captch {
  overflow: hidden;
  padding: 10px;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(173, 173, 173, 0.8);
}

.captch .captch_side_check {
  width: 60%;
}

.captch .radio_input {
  margin-left: 0px !important;
}

.captch .captch_side_title {
  width: 40%;
}

.captch .captch_side_title img {
  width: 15px;
  height: 15px;
}

.captch .captch_side_title h6,
.captch .captch_side_title span {
  color: #b3b3b3;
  font-size: 10px;
  margin: 0;
}

/*==============================
  End Captch
==============================*/

/*==============================
  Start Contact Us
==============================*/
.contact_us {
  text-transform: capitalize;
}

.contact_us address {
  line-height: 1.4;
  color: #666;
  margin-bottom: 5px;
}

.contact_us small {
  line-height: 1.4;
  font-size: 12px;
  color: #666;
  letter-spacing: 1px;
}

.contact_us h5 {
  color: #5aba53
}

.contact_us span {
  color: #777;
  font-size: 11px;
}

/*==============================
  End Contact Us
==============================*/

/*==============================
  Start
==============================*/
.list_detail form textarea {
  height: 150px !important;
}

/*==============================
  End
==============================*/

/*==============================
  Start Feature List
==============================*/
.feature_list {
  overflow: hidden;
  background-color: #FFF;
  box-shadow: 0 0 10px rgba(122, 122, 122, 0.3);
}

.feature_list h3 {
  padding: 10px;
  margin: 0 15px 20px;
  border: 1px solid #EEE;
  color: #AAA;
}

.feature_list .col_2 {
  padding-left: 15px;
  padding-right: 15px;
  width: 50%;
  float: left;
}

.feature_list .feature_item {
  box-shadow: 0 0 10px rgba(122, 122, 122, 0.3);
}

.feature_item .item_img {
  position: relative;
}

.item_img img {
  position: relative;
}

.item_img .logo_signature {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 50px;
  background-color: #FFF;
  padding: 3px;
}

.item_img .logo_signature img {
  max-width: 100%;
  height: auto;
}

.item_img .images_qnt {
  position: absolute;
  bottom: 7px;
  right: 7px;
  padding: 5px;
  background-color: rgba(90, 186, 83, 0.8);
  color: #FFF;
  font-size: 11px;
}

.feature_list .info {
  padding: 15px;
}

.feature_list .info p {
  color: #AAA;
}

.feature_list .info p span {
  color: #AAA;
  font-size: 13px;
}

.feature_list .info p.price {
  color: #5aba53;
  margin: 10px 0;
}

/*==============================
  End Feature List
==============================*/

/*==============================
  Start
==============================*/
.list_detail_pop h5 {
  color: #747474;
  margin-bottom: 20px;
  letter-spacing: 1px;
  line-height: 1.2;
}

.list_detail_pop h3 {
  margin: 10px auto;
  width: 50px;
  height: 50px;
  line-height: 40px;
  text-align: center;
  color: #5aba53;
  border-radius: 50%;
  border: 2px solid #5aba53;
  font-size: 26px;
  font-weight: 700;
}

.list_detail_pop p {
  font-size: 12px;
  color: #5aba53;
  margin-bottom: 10px;
}

.list_detail_pop button.width_150 {
  margin: 0 auto 20px;
}

.list_detail_pop a {
  text-decoration: underline;
  color: #5aba53;
}

/*==============================
  End
==============================*/

/*==============================
  Start Checks
==============================*/
@keyframes click-wave {
  0% {
    height: 15px;
    width: 15px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 25px;
    width: 25px;
    margin-left: -6px;
    margin-top: -6px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 5px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 15px;
  width: 15px;
  transition: all 0.15s ease-out 0s;
  background-color: #DFDFDF;
  border-radius: 2px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}

.option-input:hover {
  background-color: #ccc;
}

.option-input:checked {
  background-color: #5aba53;
}

.option-input:checked::before {
  height: 15px;
  width: 15px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 11px;
  text-align: center;
  line-height: 15px;
}

.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #5aba53;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

.option-input.radio {
  border-radius: 50%;
}

.option-input.radio::after {
  border-radius: 50%;
}

.check label {
  display: block;
  line-height: 40px;
}

.check_rooms {

}

.check_rooms .title {
  margin-bottom: 25px;
}

.check_rooms .title h5 {
  color: #333;
  margin-bottom: 10px;
  letter-spacing: 1px;

}

.check_rooms .title h6 {
  font-size: 12px;
  color: #333;
}

/*==============================
  End Checks
==============================*/

/*==============================
  Start Centered
==============================*/
.centered {
  position: relative;
  height: 100vh;
}

.centered .context {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
}

.centered .context h4.input_title {
  margin-bottom: 25px;
  font-size: 14px;
}

.centered .context p {
  line-height: 1.5;
  letter-spacing: 1px;
  margin-bottom: 25px;
}

.centered .context h4.price {
  color: #5aba53;
  line-height: 1.5;
}

/*==============================
  End Centered
==============================*/

/*==============================
  Start terms
==============================*/
.terms {

}

.terms p {
  margin-bottom: 20px;
}

.terms .check label {
  font-size: 12px;
}

/*==============================
  End terms
==============================*/

/*==============================
  Start
==============================*/
.no_result {
  margin: 40px auto;
  width: 100%;
  max-width: 400px;
  height: 300px;
  background-color: #efefef;
  color: #333;
  border: 1px solid #5aba53;
  position: relative;
}

.no_result i {
  margin: 25% auto 20px;
  display: block;
  color: #FFF;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #5aba53;
}

.no_result h4 {
  letter-spacing: 1px;
  line-height: 1.4;
}

/*==============================
  End
==============================*/

/*==============================
  Start range_slider
==============================*/
.range_slider {
  position: relative;
  padding-top: 20px;
}

.range_slider i {
  font-size: 26px !important;
  position: absolute !important;
  top: 5px !important;
  color: #CCC !important;
  background-color: transparent !important;
}

.range_slider i.pricetag {
  left: 5px;
  right: auto !important;
}

.range_slider i.home {
  right: 5px;
  left: auto !important;
}

.js-ranger .max_price {
  position: absolute;
  right: 0;
  top: 23px;
  padding: 2px 7px;
  background-color: #e1e1e1;
  font-size: 10px;
  height: 25px;
  line-height: 25px;
}

.js-ranger .min_price {
  position: absolute;
  left: 0;
  top: 23px;
  padding: 2px 7px;
  background-color: #e1e1e1;
  font-size: 10px;
  height: 25px;
  line-height: 25px;
}

/*==============================
  End range_slider
==============================*/

/*==============================
  Start property Listing
==============================*/
.property_box {
  padding: 25px;
  background-color: #f6f6f6;
  border: 1px solid #5aba53;
  width: 100%;
  max-width: 400px;
  margin: auto;
  margin-bottom: 30px;
}

.property_box img {
  margin-bottom: 30px;
}

.property_box h5 {
  margin-bottom: 8px;
  letter-spacing: 1px;
}

/*==============================
  End property Listing
==============================*/

/*==============================
  Start
==============================*/
.mang_list {

}

.mang_list ul {

}

.mang_list li {
  margin-bottom: 15px;
  color: #5aba53;
  font-size: 21px;

  text-align: center;
}

.mang_list li i {
  margin-right: 10px;
  font-size: 12px;
  text-align: center;
}

/*==============================
  End
==============================*/

/*==============================
  Start add_listing
==============================*/
.add_listing {

}

.add_listing h5 {
  margin-bottom: 20px;
  letter-spacing: 1px;
  color: #333;
}

.add_listing .actions button {
  width: 150px;
  margin: 0 5px;
}

.add_listing article p {
  line-height: 1.5;
}

.add_listing .gallery ul {
  overflow: hidden;
}

.add_listing .gallery li {
  display: block;
  width: 50%;
  float: left;
  padding: 0 7px;
  margin-bottom: 10px;
}

.add_listing .gallery li img {
  width: 100%;
}

@media (max-width: 480px) {
  .add_listing .actions button {
    width: 100px;
    margin: 0 3px;
    font-size: 10px;
  }

  .add_listing h5 {
    letter-spacing: 0px;
    font-size: 13px;
  }
}

/*==============================
  End add_listing
==============================*/

/*==============================
  Start Map
==============================*/
.map {

}

.map iframe {
  width: 100%;
  height: 300px;
  border: none;
}

/*==============================
  End Map
==============================*/

/*==============================
  Start Chat
==============================*/
.chat_2 {
  padding-bottom: 70px;
}

.chat_row {
  overflow: hidden;
  background-color: #FFF;
  padding: 10px 3%;
  margin-bottom: 20px;
}

.chat_row .chat_img {
  width: 70px;
  float: left;
  position: relative;
}

.chat_row .chat_img img {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.chat_row .chat_active {
  position: absolute;
  top: 5px;
  right: 5px;
  content: '';
  background-color: #080;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #FFF;
  z-index: 999;

}

.chat_row .chat_context {
  width: calc(100% - 70px);
  float: right;
  padding-left: 20px;
}

.chat_row .chat_context .info {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 10px 0 15px;
}

.chat_row .chat_context .info h5 {
  font-weight: 700;
}

.chat_row .chat_context .info span.counter {
  position: absolute;
  top: 0;
  right: 30%;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #b1b1b1;
  text-align: center;
  line-height: 12px;
  color: #FFF;
  font-size: 10px;
}

.chat_row .chat_context .info time {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 10px;
  color: #b1b1b1;
}

.chat_row .chat_context .prgrph {

}

.chat_row .chat_context .prgrph p {

}

@media (max-width: 480px) {
  .chat_2 .tabs {
    margin-right: 20px;
    margin-left: 20px;
  }

  .chat_row .chat_img {
    width: 35px;
  }

  .chat_row .chat_img img {
    width: 35px;
    height: 35px;
  }

  .chat_row .chat_context {
    width: calc(100% - 35px);
    padding-left: 10px;
  }

  .chat_row .chat_context .info {
    margin: 0 0 7px;
  }

  .chat_row .chat_context .info h5 {
    font-size: 12px;
  }

  .chat_row .chat_context .info span.counter {
    width: 10px;
    height: 10px;
    line-height: 9px;
    font-size: 8px;
  }

  .chat_row .chat_context .prgrph p {
    font-size: 10px;
  }

  .chat_row .chat_context .info time {
    font-size: 8px;
  }

  .chat_row .chat_active {
    top: 1px;
    right: 1px;
    width: 8px;
    height: 8px;
  }

  .chat_row {
    margin-bottom: 12px;
  }
}

/*==============================
  End Chat
==============================*/

/*==============================
  Start chatbox
==============================*/
.chatbox {

}

.chat_text {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.chat_text article {
  margin-bottom: 15px;
}

.chat_text p {
  display: inline-block;
  max-width: 400px;
  padding: 7px 12px;
}

.sender {
  float: left;
  text-align: left;
}

.sender .chat_active {
  position: absolute;
  top: 0px;
  left: 35px;
  content: '';
  background-color: #080;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #FFF;
  z-index: 999;
}

.sender img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.sender article {
  display: block;
  padding-left: 65px;
}

.sender p {
  background-color: #FFF;
  color: #666666;
  border-radius: 0 20px 20px 20px;
}

.me {
  float: right;
  text-align: left;
  margin-bottom: 20px;
}

.me p {
  background-color: #5aba53;
  color: #FFF;
  float: right;
  border-radius: 20px 0 20px 20px;
}

@media (max-width: 480px) {
  .chat_text p {
    max-width: 200px;
    font-size: 12px;
  }

  .sender article {
    padding-left: 40px;
  }

  .sender img {
    width: 35px;
    height: 35px;
  }

  .sender .chat_active {
    left: 25px;
    width: 7px;
    height: 7px;
  }
}

/*==============================
  End chatbox
==============================*/

/*==============================
  Start Slider
==============================*/
.feature_listing {

}

.feature_listing h3 {
  color: #5aba53;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.slider {

}

.slider_item {
  margin-bottom: 20px;
}

.slider_item img {
  width: 100%;
  height: 280px;
}

.slider_item .bullets {
  margin: 7px 0;
}

.slider_item .bullets span {
  display: inline-block;
  margin: 0 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FFF;
  border: 1px solid #999;
}

.slider_item .bullets span.current {
  background-color: #999;
}

.slider_item .info {

}

.slider_item .info p {
  margin-bottom: 3px;
}

.slider_item .info p.price {
  color: #5aba53;
}

.feature_popup {
  border-radius: 8px;
}

.feat_tabs {
  overflow: hidden;
  margin-top: 10px;
  border-top: 1px solid #5aba53;

}

.feat_tabs li {
  width: 33.3333%;
  float: left;
}

.feat_tabs li:nth-child(2) {
  border-left: 1px solid #5aba53;
  border-right: 1px solid #5aba53;
}

.feat_tabs li a {
  display: block;
  padding: 10px 2px;
  color: #5aba53;
}

.feat_tabs li.active a {
  color: #FFF;
  background-color: #5aba53;
}

@media (max-width: 480px) {
  .feature_listing h3 {
    letter-spacing: 0;
  }

  .slider_item img {
    height: 140px;
  }
}

/*==============================
  End Slider
==============================*/

/*==============================
  Start
==============================*/
.overlay header.header {
  border-bottom: 2px solid #5aba53;
}

.menu {
  /*position: absolute;*/
  top: 56px;
  left: 0;
  right: 0;
  margin: auto;
}

.menu img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.menu ul {

}

.menu ul li {
  margin-bottom: 15px;
}

.menu ul li a {
  color: #5aba53;
  font-size: 126%;
}

.menu ul li a i {
  display: block;
  margin-bottom: 0px;
}

/*==============================
  End
==============================*/

/*==============================
  Start
==============================*/
.dashboard {

}

.dashboard img {
  padding: 5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #5aba53;
  margin-bottom: 15px;
}

.dashboard h5 {
  color: #666;
  line-height: 1.5;
}

.statistics {

}

.statistics ul {

}

.statistics li {
  background-color: #F2F2F2;
  padding: 15px 10px;
  margin-bottom: 15px;
}

.statistics {

}

/*==============================
  End
==============================*/

/*==============================
  Start
==============================*/
.profile {

}

.profile img {
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid #5aba53;
  border-radius: 50%;
}

.profile h5 {
}

.profile mark {
  display: inline-block;
  background-color: #5aba53;
  color: #FFF;
  padding: 10px 12px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 20px;
}

.profile .bio {
  margin: 25px 0 20px 10px;
  color: #666;
}

.profile .bio h5 {
  margin-bottom: 7px;
}

.profile .bio p {
  padding-left: 7%;
  line-height: 1.5;
}

.profile .bio .more {
  padding: 10px 8px;
  background-color: #F2F2F2;
  overflow: hidden;
  margin: 15px 0;
}

.profile .bio .more .left_side {
  float: left;
  width: 50%;
}

.profile .bio .more .right_side {
  float: right;
  width: 50%;
}

.feat_listing {
  margin-top: 20px;
}

.feat_listing h5 {
  margin-bottom: 10px;
}

.feat_listing img {
  width: 100%;
  height: auto;
  max-height: 200px;
  border-radius: 0;
  border: none;
}

/*==============================
  End
==============================*/

/*==============================
  Start
==============================*/
.details {
  padding: 0 20px;
}

.details li {
  overflow: hidden;
  margin-bottom: 10px;
  width: 100%;
}

.details li .col_2 {
  width: 50%;
  float: left;
}

.details li p {
  float: left;
  text-align: left;
}

/*==============================
  End
==============================*/

/*==============================
  Start
==============================*/
.wishlist {

}

.wishlist h5 {
  line-height: 1.4;
  margin-bottom: 10px;
}

.wish_item {

}

.wish_item img {
  margin-bottom: -3px;
}

.wish_item .price_space {
  overflow: hidden;
}

.wish_item .price_space li {
  width: 50%;
  float: left;
  color: #FFF;
  padding: 10px;
}

.wish_item .price_space li:first-child {
  background-color: #2ac7e3;
  text-align: left;
}

.wish_item .price_space li:last-child {
  background-color: #0a37a8;
  text-align: right;
}

.wish_item .remove_more {
  padding: 10px;
  overflow: hidden;
  background-color: #EAEAEA;
}

.wish_item .remove_more .remove {
  width: 50%;
  float: left;
  text-align: left;
}

.wish_item .remove_more .remove a {
  text-align: left;
  background-color: #F2F2F2;
  border-radius: 20px;
  padding: 5px 10px;
  display: inline-block;
  color: #666;
  font-size: 13px;
}

.wish_item .remove_more ul {
  width: 50%;
  float: right;
  text-align: right;
}

.wish_item .remove_more ul li {
  display: inline-block;
  padding: 0 8px;
  font-size: 12px;
  color: #888;
}

.wish_item .remove_more ul li:nth-child(1) {
  border-right: 1px solid #AAA;
}

.wish_item .remove_more ul li img {
  margin: 0 2px;
  width: 17px;
}

/*==============================
  End
==============================*/

/*==============================
  Start
==============================*/
.open_house {

}

.open_house h5 {
  margin-bottom: 20px
}

/*==============================
  End
==============================*/

/*==============================
  Start
==============================*/

.property_details {

}

.property_details h4 {
  margin-bottom: 10px;
}

.short_info {
  margin-bottom: 20px;
}

.short_info ul {

}

.short_info li {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

.short_info li h6 {
  margin-bottom: 5px;
  color: #5aba53;
  font-size: 14px;
}

.short_info li span {
  font-size: 13px;
}

.short_info li h5 {
  position: absolute;
  right: 0;
  top: 3px;
  color: #5aba53;
  font-size: 14px;
}

.short_info li h5 img {
  width: 20px;
}

.property_details .slider {
  margin-bottom: 20px;
}

.property_details .slider img {
  width: 100%;
  max-height: 300px;
}

.main_info {
  overflow: hidden;
  background-color: #EEE;
}

.main_info li {
  width: 25%;
  float: left;
  border-left: 1px solid #CCC;
  padding: 10px 0 15px;
}

.main_info li:first-child {
  border-left: none;
}

.main_info li h6 {
  font-size: 14px;
}

.main_info li i {
  font-size: 22px;
  display: block;
  margin-bottom: 10px;
  color: #5aba53;
}

.overview {
  width: 100%;
  overflow: hidden;
  margin: 20px 0;
}

.overview li {
  width: 50%;
  float: left;
  background-color: #D9D9D9;
  text-align: center;
  padding: 10px 0;
}

.overview li.active {
  background-color: #5aba53;
}

.accordion-container {

}

/*
  Simple accordion created in pure Javascript.
  Author: Michał Strumpf https://github.com/michu2k
  License: MIT
  Version: v2.2.1
*/
.ac {
  margin-top: 10px;
  background-color: #fff;
}

.ac > .ac-q {

  border-bottom: 1px solid #E6E6E6;
  font-size: 15px;
  color: #5aba53;
  text-decoration: none;
  outline: 0;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: block;
  cursor: pointer;
  position: relative;
}

.ac > .ac-q::after {
  content: "+";
  text-align: center;
  width: 15px;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
}
.ac > .ac-q2 {

  border-bottom: 1px solid #E6E6E6;
  font-size: 15px;
  color: #5aba53;
  text-decoration: none;
  outline: 0;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: block;
  cursor: pointer;
  position: relative;
}
.ac > .ac-q2::after {
  content: "-";
  text-align: center;
  width: 15px;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
}

.ac > .ac-a {
  overflow: hidden;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease;
  transition-property: all;
  transition-timing-function: ease;
}

.ac > .ac-a p {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #888;
  margin: 0;
  padding: 10px;
}

.ac.active > .ac-q::after {
  content: "\2013";
}

.prop_info ul {
  overflow: hidden;
  margin-top: 20px;
}
.prop_info li {
  width: 50%;
  float: left;
  padding: 5px 8px;
  margin-bottom: 10px;
  overflow: hidden;
}
.prop_info li p {
  padding: 0 !important;
  width: 55%;
  float: left;
  font-size: 16px;
  position: relative;
}
.prop_info li p:after {
  content: ':';
  position: absolute;
  top: 0;
  right: 8px;
  font-size: 16px;
  color: #7e7e7e;

}
.prop_info li p img {
  width: 16px;
  height: auto;
  margin-right: 5px;
}
.prop_info li p span {
  color: #7e7e7e;
  font-size: 16px;
}
.prop_info li h6 {
  width: 45%;
  float: left;
  color: #7e7e7e;
  font-size: 16px;
  margin-top: 0px !important;
}

@media (max-width: 480px){
  .prop_info li {
    width: 100%;
  }
  .prop_info li p:after {
    right: 3px;
  }
  .prop_info li p, .prop_info li p:after, .prop_info li p span, .prop_info li h6 {
    font-size: 13px;
  }
}
/*==============================
  End
==============================*/

/*==============================
  Start search
==============================*/
.search {

}

.search .range {

}

.search .result_item {

}

.search .result_item img {
  width: 100%;
  max-height: 300px;
}

.search .result_item ul {
  margin: 15px 0;
}

.search .result_item li {
  overflow: hidden;
  margin-bottom: 10px;
  width: 100%;
}

.search .result_item li .left_side {
  width: 70%;
  float: left;
}

.search .result_item li .right_side {
  width: 30%;
  float: right;
  text-align: right;
}

.search .result_item li .right_side span {
  color: #888;
  margin-right: 10px;
}

.search .result_item li .right_side span i {
  margin-left: 7px
}

/*-- Range Slider --*/
.range {
  padding: 30px 0;
}

.rs-container * {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.rs-container {
  height: 45px;
  position: relative
}

.rs-container .rs-bg,
.rs-container .rs-selected {
  background-color: #eee;
  height: 4px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 100%;
  border-radius: 3px
}

.rs-container .rs-selected {
  background-color: #CCC;
  transition: all .2s linear;
  width: 0
}

.rs-container.disabled .rs-selected {
  background-color: #ccc;
  border-color: #bbb
}

.rs-container .rs-pointer {
  background-color: #5aba53;
  border-radius: 50%;
  cursor: pointer;
  height: 10px;
  left: -10px;
  position: absolute;
  top: 0;
  transition: all .2s linear;
  width: 10px;
}

.rs-container.disabled .rs-pointer {
  border-color: #ccc;
  cursor: default
}

.rs-container .rs-pointer::after {
  left: auto;
  right: 12px
}

.rs-container.sliding .rs-pointer,
.rs-container.sliding .rs-selected {
  transition: none
}

.rs-container .rs-scale {
  left: 0;
  position: absolute;
  top: 5px;
  white-space: nowrap
}

.rs-container .rs-scale span {
  float: left;
  position: relative
}

.rs-container .rs-scale span::before {
  background-color: #ededed;
  content: "";
  height: 8px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 1px
}

.rs-container.rs-noscale span::before {
  display: none
}

.rs-container.rs-noscale span:first-child::before,
.rs-container.rs-noscale span:last-child::before {
  display: block
}

.rs-container .rs-scale span:last-child {
  margin-left: -1px;
  width: 0
}

.rs-container .rs-scale span ins {
  color: #333;
  display: inline-block;
  font-size: 12px;
  margin-top: 20px;
  text-decoration: none
}

.rs-container.disabled .rs-scale span ins {
  color: #999
}

.rs-tooltip {
  color: #5aba53;
  position: absolute;
  transform: translate(-50%, -35px);
  left: 3px;
  top: 10px;
  text-align: center;
  font-size: 13px;
}

.rs-container.disabled .rs-tooltip {
  border-color: #ccc;
  color: #999
}

.map_marker {

}

.map_marker iframe {
  border: none;
  height: 300px;
  width: 100%;
}

nav img {
  width: 23px;
}

.row span a img {
  width: 20px;
}

.padding_top_bottom_10 li img {
  width: 12px;
}

.wishlist {

}

.wishlist h5 {
  line-height: 1.4;
  margin-bottom: 10px;
}

.wish_item {

}

.wish_item img {
  margin-bottom: -3px;
}

.wish_item .price_space {
  overflow: hidden;
}

.wish_item .price_space li {
  width: 50%;
  float: left;
  color: #FFF;
  padding: 10px;
}

.wish_item .price_space li:first-child {
  background-color: #2ac7e3;
  text-align: left;
}

.wish_item .price_space li:last-child {
  background-color: #0a37a8;
  text-align: right;
}

.wish_item .remove_more {
  padding: 10px;
  overflow: hidden;
  background-color: #EAEAEA;
}

.wish_item .remove_more .remove {
  width: 50%;
  float: left;
  text-align: left;
}

.wish_item .remove_more .remove a {
  text-align: left;
  background-color: #F2F2F2;
  border-radius: 20px;
  padding: 5px 10px;
  display: inline-block;
  color: #666;
  font-size: 13px;
}

.wish_item .remove_more ul {
  width: 50%;
  float: right;
  text-align: right;
}

.wish_item .remove_more ul li {
  display: inline-block;
  padding: 0 8px;
  font-size: 12px;
  color: #888;
}

.wish_item .remove_more ul li:nth-child(1) {
  border-right: 1px solid #AAA;
}

.wish_item .remove_more ul li img {
  margin: 0 2px;
  width: 17px;
}

.property_details {

}

.property_details h4 {
  margin-bottom: 10px;
}

.short_info {
  margin-bottom: 20px;
}

.short_info ul {

}

.short_info li {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

.short_info li h6 {
  margin-bottom: 5px;
  color: #5aba53;
  font-size: 14px;
}

.short_info li span {
  font-size: 13px;
}

.short_info li h5 {
  position: absolute;
  right: 0;
  top: 3px;
  color: #5aba53;
  font-size: 14px;
}

.short_info li h5 img {
  width: 20px;
}

.property_details .slider {
  margin-bottom: 20px;
}

.property_details .slider img {
  width: 100%;
  max-height: 300px;
}

/*==============================
  End
==============================*/

/*==============================
  Start
==============================*/
.fieldset_box_input {
  position: fixed;
  background-color: #e9e9e9;
  left: 0;
  bottom: 47px;
  right: 0;
  padding: 10px 0 22px;
  display: block;
}
@media (min-width: 480px) {
  .fieldset_box_input {
    padding: 10px 0 45px;
  }
  .input_chat {
    width: 90%;
  }
}
.input_chat {
  padding: 0 7px;
  height: auto;
  max-height: 100px;
  min-height: 35px;
  width: 84%;
  border-color: transparent;
  border-radius: 5px;
  display: block;
  margin: auto;
}
/*==============================
  End
==============================*/

/*==============================
  Start
==============================*/
/*==============================
  End
==============================*/
my-date-picker {
  margin-left: 10%;
}